*{padding:0;margin:0}html{height:100%}body{height:100%;font-size:14px;line-height:20px;min-width:640px;overflow-y:scroll}#container{position:relative}a:hover,a:focus{color:inherit}.clear{float:none !important;clear:both !important}