@import "../bower_components/bootstrap/less/variables";
@import "../bower_components/bootstrap/less/mixins";
@import "functions";
@import "vars";


.search-container
{
	position: relative;
	height: 50%;
	overflow: hidden;
	.bgCover('../images/bg.jpg');

	.transition(height 0.25s);


	body.active &
	{
		height: 25%;
	}

	&:before{

		content: " ";
		position: absolute;
		left: 0px;
		top: 100%;
		width: 100%;
		height: 100px;

		.box-shadow(0px 0px 100px #000);
	}

	.input-wrap
	{

		position: absolute;
		top: 50%;
		left: 20px;
		right: 20px;
		margin-top: -20px;
		//height: 40px;

		.search
		{
			width: 100%;
			margin: 0 auto 0;
			max-width: 640px;
			position: relative;

			.icon{
				fill: #553a1c;
				.square(20px);

				position: absolute;
				right: 10px;
				margin-top: -10px;
				top: 50%;
			}
		}

		input
		{
			box-sizing: border-box;
			padding: 0 40px 0 10px;
			display: block;
			background: #fff;
			border: 0px none;

			width: 100%;
			height: 40px;

			line-height: 40px;
			font-size: 28px;

		}
	}

}


.books-container
{
	padding: 50px 20px 30px;
	max-width: 680px;
	margin: 0 auto;

	.book
	{
		position: relative;
		padding-left: 150px;

		min-height: 165px;
		margin-bottom: 20px;

		.cover
		{
			position: absolute;
			left: 0px;
			top: 0px;
			.size(125px, 165px);
			border: 1px solid #222;

			padding: 15px 10px 0px;

			font-size: 10px;
			line-height: 12px;
			text-align: center;

			.name
			{
				font-size: 14px;
				line-height: 16px;
			}

			.author
			{
				position: absolute;
				left: 0px;
				bottom: 5px;
				width: 100%;
			}
		}

		>.name
		{
			font-size: 24px;
			line-height: 28px;
		}

		>.author
		{
			color: #555;
			font-size: 20px;
			line-height: 24px;
			padding-bottom: 10px;
		}

		>.date
		{
			color: #999;
			position: absolute;
			right: 0px;
			top: 5px;
			font-size: 14px;
			line-height: 18px;
			font-style: italic;
		}

		>.lang
		{
			color: #999;
			position: absolute;
			right: 0px;
			top: 25px;
			font-size: 14px;
			line-height: 18px;
			font-style: italic;
		}

		p
		{
			font-size: 14px;
			line-height: 18px;
		}
	}
}