.bg-transparent(@color, @alpha: 1) {
    background: @color;
    background: rgba( red(@color), green(@color), blue(@color), @alpha);
}

.bgCover(@imgURL)
{
    background: url('@{imgURL}') no-repeat center center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{imgURL}', sizingMethod='scale')";
    filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{imgURL}', sizingMethod='scale')";
}