@import "../bower_components/bootstrap/less/variables";
@import "../bower_components/bootstrap/less/mixins";
@import "vars";

*
{
    padding: 0px;
    margin: 0px;
}

html
{
    height: 100%;
}

body
{
    height: 100%;
    font-size: 14px;
    line-height: 20px;

    min-width: 640px;

    overflow-y: scroll;

}

#container
{
    position: relative;
}

a
{
    &:hover,
    &:focus
    {
        color: inherit;
    }

}



.clear
{
    float: none !important;
    clear: both !important;
}
