<!DOCTYPE html>
<html ng-app="literaturesearch" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!--<meta name="MobileOptimized" content="480"/>-->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="format-detection" content="telephone=no">

	<title></title>

	<!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>-->

	<!-- Bootstrap -->
	<link href="./bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="./bower_components/html5shiv/dist/html5shiv.min.js"></script>
	<script src="./bower_components/respond/dest/respond.min.js"></script>
	<![endif]-->

	<link href="./css/style.css" rel="stylesheet"/>

</head>
<body ng-controller="MainController" ng-class="{active: isSearchActive()}">

<svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	<defs>
		<symbol id="icon-search" viewBox="0 0 1024 1024">
			<title>search</title>
			<path class="path1" d="M992.262 871.396l-242.552-206.294c-25.074-22.566-51.89-32.926-73.552-31.926 57.256-67.068 91.842-154.078 91.842-249.176 0-212.078-171.922-384-384-384-212.076 0-384 171.922-384 384s171.922 384 384 384c95.098 0 182.108-34.586 249.176-91.844-1 21.662 9.36 48.478 31.926 73.552l206.294 242.552c35.322 39.246 93.022 42.554 128.22 7.356s31.892-92.898-7.354-128.22zM384 640c-141.384 0-256-114.616-256-256s114.616-256 256-256 256 114.616 256 256-114.614 256-256 256z"></path>
		</symbol>
	</defs>
</svg>

<div class="search-container">
	<div class="input-wrap">
		<div class="search">
			<input ng-model="searchString" type="text">
			<svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>
		</div>
	</div>
</div>

<div class="books-container">
	<div class="book" ng-repeat="book in books">
		<div class="cover" ng-style="{background: book.color}">
			<div class="name">{{book.BOOK_NAME}}</div>
			<div class="author">{{book.BOOK_AUTHOR}}</div>
		</div>
		<div class="name">{{book.BOOK_NAME}}</div>
		<div class="author">{{book.BOOK_AUTHOR}}</div>
		<div class="date">{{book.BOOK_DATE}}</div>
		<div class="lang">{{book.BOOK_LANGUAGE}}</div>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
			industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
			scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
			electronic typesetting, remaining essentially unchanged.</p>
	</div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="./bower_components/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="./js/script.js"></script>

<script src="./bower_components/angular/angular.min.js"></script>



<script src="./js/app.js"></script>

<script src="./js/controllers/MainController.js"></script>

<!--<script src="./js/directives/ngEnter.js"></script>-->

</body>
</html>